* , ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    max-width: 1000px;
    margin: 30px 20px;
    min-height: 100vh;
}

@media screen and (max-width:768px) {
    .container {
        max-width: 768px;
        margin: 30px 20px;
    }
}