.places {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.places > h1 {
    font-size: 30px;
    display: block;
    width: 100%;
}

.places > div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.places div > article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    position: relative;
}

.places div > article > h2 {
    display: inline-block;
    position: relative;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    font-size: 30px;
    text-align: center;
}

article > .price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    float: right;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

article > .information {
    width: 100%;
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
}

.information > div {
    display: inline;
}

.information > .max_guest {
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
    /* width: auto; */
    height: 100%;
}

.information > .number_rooms {
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
}

.information > .number_bathrooms {
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
}